<div *ngIf="!showAnimalConfirmationPanel && !showInsertAnimalPanel" class="body">
    <span>O seu animal {{getText()}}?</span>
    <div class="buttons">
        <button (click)="confirmFeature(true)"
        class="button" mat-button> Sim </button>
        <button (click)="confirmFeature(false)"
        class="button" mat-button> Não </button>
    </div>
</div>
<app-confirmation-panel *ngIf="showAnimalConfirmationPanel" (foundAnimal)="foundAnimal($event)"
    [animal]="confirmAnimal">
</app-confirmation-panel>
<app-insert-panel *ngIf="showInsertAnimalPanel" (insert)="insertAnimal($event)" [previousAnimal]="confirmAnimal">
</app-insert-panel>